@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap');

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* page background */
    --background-color: black;
    /* other */
    --header-bg-color: rgba(255, 255, 255, 0.4);
    --bad-rate: rgb(220, 0, 0);
    --mid-rate: orange;
    --good-rate: rgb(0, 200, 0);

}

body {
    /* design */
    background-color: var(--background-color);
    font-family: 'Vollkorn';
    overflow-x: hidden;
    /* layout and box-model */
    /* size */
    width: 100vw;
    height: 100vh;
    /* position */
    position: relative;
    /* animation */
}

header {
    /* design */
    background-color: var(--header-bg-color);
    backdrop-filter: blur(5px);
    border: none;
    border-radius: 20px;
    box-shadow: 1px 1px 5px, -1px -1px 5px white;
    /* layout and box-model */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* position */
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    /* size */
    width: 95%;
    /* animation */
}

.nav_bar {
    /* layout and box-model */
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* size */
    width: 100%;
}

.nav_bar ul {
    /* layout and box-model */
    display: flex;
    justify-content: space-around;
    /* size */
    min-width: 70%;
}

.nav_bar ul li {
    /* design */
    list-style: none;
}

.nav_bar a {
    /* design */
    color: white;
    text-decoration: none;
}

.form {
    /* position */
    position: relative;
}

.form input {
    /* design */
    font-family: inherit;
    font-size: 16px;
    outline: none;
    background-color: white;
    border: none;
    border-radius: 25px;
    padding: 5px;
    border-bottom: 1px solid;
}

.form i {
    /* design */
    cursor: pointer;
    /* position */
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
}

main {
    /* layout and box-model */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
    /* animation */
    transition: 1s ease;
}

.movie_card {
    /* design */
    overflow: hidden;
    background-color: rgba(0, 0, 255, 0.4);
    backdrop-filter: blur(2px);
    color: white;
    /* layout and box-model */
    display: flex;
    flex-direction: column;
    margin: 25px;
    /* size */
    width: 200px;
    /* position */
    position: relative;
    /* animation */
    transition: 1s ease;
}

.movie_title {
    /* design */
    border-bottom: 1px solid black;
    /* layout and box-model */
    margin: 5px;
}

.movie_rate {
    /* design */
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    border: 1px solid;
    border-radius: 5px;
    /* size */
    width: 40px;
    /* layout and box-model */
    padding: 2px;
    /* positon */
    position: absolute;
    top: 10px;
    right: 10px;
}

.movie_rate.red {
    /* design */
    background-color: var(--bad-rate);
}

.movie_rate.orange {
    /* design */
    background-color: var(--mid-rate);
}

.movie_rate.green {
    /* design */
    background-color: var(--good-rate);
}

.movie_overview {
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(5px);
    font-size: 14px;
    /* layout and box-model */
    padding: 5px;
    /* position */
    position: absolute;
    top: 100%;
    /* size */
    width: 100%;
    height: 100%;
    /* animation */
    transition: 0.5s ease-in;
}

.movie_card:hover .movie_overview {
    /* position */
    top: 0;
    /* animation */
    transition: 0.5s ease-in;
}